// =============================================================================
// Variables
// =============================================================================

@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$blue: #3298cb;
$dark-blue: #344048;
$green: #9ec54c;
$palid-yellow: #ffffcc;
$blue-modal: #04b2e4;

//
// Scaffolding
// -----------------------------------------------------------------------------

$blueUX3: #3b84bb;
$blue: #3298cb;
$blue-sd: #3399cc;
$green-sd: #8bc53f;

